## Download and Clean Dataset

In [16]:
import pandas as pd
import numpy as np

In [17]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [18]:
concrete_data.shape

(1030, 9)

In [19]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [20]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

In [21]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

In [22]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [23]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [24]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [25]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id='item32'></a>

#### Let's go ahead and import the Keras library

In [26]:
import keras

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [27]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

In [28]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

In [31]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the _fit_ method. We will leave out 30% of the data for validation and we will train the model for 50 epochs.

In [32]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 243us/step - loss: 32137.3038
Epoch 2/50
721/721 [==============================] - 0s 87us/step - loss: 9076.1892
Epoch 3/50
721/721 [==============================] - 0s 85us/step - loss: 6706.5229
Epoch 4/50
721/721 [==============================] - 0s 92us/step - loss: 5049.6365
Epoch 5/50
721/721 [==============================] - 0s 101us/step - loss: 3730.5654
Epoch 6/50
721/721 [==============================] - 0s 84us/step - loss: 2818.9396
Epoch 7/50
721/721 [==============================] - 0s 105us/step - loss: 2217.5995
Epoch 8/50
721/721 [==============================] - 0s 89us/step - loss: 1856.9757
Epoch 9/50
721/721 [==============================] - 0s 103us/step - loss: 1611.2198
Epoch 10/50
721/721 [==============================] - 0s 88us/step - loss: 1427.6385
Epoch 11/50
721/721 [==============================] - 0s 105us/step - loss: 1272.5958
Epoch 12/50
721/721 [==============================] - 0s 88us/step - loss: 1145.5194
Epoch 13/50
721/721 [==============================] - 0s 104us/step - loss: 1037.1597
Epoch 14/50
721/721 [==============================] - 0s 87us/step - loss: 944.9565
Epoch 15/50
721/721 [==============================] - 0s 105us/step - loss: 870.1389
Epoch 16/50
721/721 [==============================] - 0s 84us/step - loss: 799.6472
Epoch 17/50
721/721 [==============================] - 0s 86us/step - loss: 742.6965
Epoch 18/50
721/721 [==============================] - 0s 83us/step - loss: 691.4294
Epoch 19/50
721/721 [==============================] - 0s 102us/step - loss: 650.6413
Epoch 20/50
721/721 [==============================] - 0s 83us/step - loss: 614.5478
Epoch 21/50
721/721 [==============================] - 0s 86us/step - loss: 574.2765
Epoch 22/50
721/721 [==============================] - 0s 84us/step - loss: 544.7179
Epoch 23/50
721/721 [==============================] - 0s 113us/step - loss: 516.7097
Epoch 24/50
721/721 [==============================] - 0s 108us/step - loss: 492.8135
Epoch 25/50
721/721 [==============================] - 0s 104us/step - loss: 470.8202
Epoch 26/50
721/721 [==============================] - 0s 87us/step - loss: 450.1601
Epoch 27/50
721/721 [==============================] - 0s 85us/step - loss: 433.2676
Epoch 28/50
721/721 [==============================] - 0s 84us/step - loss: 421.0833
Epoch 29/50
721/721 [==============================] - 0s 83us/step - loss: 406.4303
Epoch 30/50
721/721 [==============================] - 0s 85us/step - loss: 392.9397
Epoch 31/50
721/721 [==============================] - 0s 85us/step - loss: 379.2656
Epoch 32/50
721/721 [==============================] - 0s 84us/step - loss: 367.8212
Epoch 33/50
721/721 [==============================] - 0s 85us/step - loss: 356.4878
Epoch 34/50
721/721 [==============================] - 0s 105us/step - loss: 347.1225
Epoch 35/50
721/721 [==============================] - 0s 107us/step - loss: 337.7093
Epoch 36/50
721/721 [==============================] - 0s 63us/step - loss: 327.2706
Epoch 37/50
721/721 [==============================] - 0s 86us/step - loss: 318.8060
Epoch 38/50
721/721 [==============================] - 0s 86us/step - loss: 311.9124
Epoch 39/50
721/721 [==============================] - 0s 88us/step - loss: 303.1210
Epoch 40/50
721/721 [==============================] - 0s 84us/step - loss: 296.6439
Epoch 41/50
721/721 [==============================] - 0s 85us/step - loss: 291.0665
Epoch 42/50
721/721 [==============================] - 0s 83us/step - loss: 283.8643
Epoch 43/50
721/721 [==============================] - 0s 83us/step - loss: 277.5503
Epoch 44/50
721/721 [==============================] - 0s 85us/step - loss: 274.1034
Epoch 45/50
721/721 [==============================] - 0s 85us/step - loss: 264.6759
Epoch 46/50
721/721 [==============================] - 0s 84us/step - loss: 260.7983
Epoch 47/50
721/721 [==============================] - 0s 84us/step - loss: 256.0619
Epoch 48/50
721/721 [==============================] - 0s 86us/step - loss: 253.1954
Epoch 49/50
721/721 [==============================] - 0s 88us/step - loss: 245.1842
Epoch 50/50
721/721 [==============================] - 0s 105us/step - loss: 241.6218

In [33]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 129us/step

247.67771630148286

In [34]:
from sklearn.metrics import mean_squared_error

In [35]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

247.67770779914315 0.0

In [36]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 121.62926396737207
MSE 2: 115.18935046149689
MSE 3: 87.49089625583883
MSE 4: 72.63303130807229
MSE 5: 66.39975506433777
MSE 6: 59.493831202436034
MSE 7: 66.24909780557873
MSE 8: 49.504954489303636
MSE 9: 49.901859098267785
MSE 10: 51.054434470760015
MSE 11: 51.311866254096664
MSE 12: 45.66364296354522
MSE 13: 58.407294202391
MSE 14: 52.507594728932794
MSE 15: 49.620153556749656
MSE 16: 43.51618378525027
MSE 17: 53.44498876923496
MSE 18: 50.20880705947629
MSE 19: 49.19571889488442
MSE 20: 47.78775230580549
MSE 21: 51.16027365378963
MSE 22: 54.35866409598045
MSE 23: 44.802114060781534
MSE 24: 66.0695581775653
MSE 25: 57.86280442518709
MSE 26: 47.720640484954934
MSE 27: 50.39503014820679
MSE 28: 47.39758282263302
MSE 29: 52.59890872992358
MSE 30: 49.45609872935273
MSE 31: 53.22122250405716
MSE 32: 43.21589755086065
MSE 33: 54.3657384829228
MSE 34: 49.416113844195614
MSE 35: 56.90345843170067
MSE 36: 53.07653045654297
MSE 37: 52.88406643049617
MSE 38: 54.08276159786484
MSE 39: 50.45263278059975
MSE 40: 44.33925921245686
MSE 41: 55.04700742801802
MSE 42: 51.94832692562955
MSE 43: 47.865927378336586
MSE 44: 73.67864054460742
MSE 45: 52.826265723959914
MSE 46: 56.17251222727754
MSE 47: 52.03186916610569
MSE 48: 50.489684070969865
MSE 49: 51.797391428530794
MSE 50: 55.42120782302807


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 56.44537304877605
Standard Deviation: 15.00468326704331