## Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id='item32'></a>

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

In [16]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the _fit_ method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [17]:
# fit the model
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/100
721/721 [==============================] - 0s 244us/step - loss: 245375.0601
Epoch 2/100
721/721 [==============================] - 0s 104us/step - loss: 150357.6800
Epoch 3/100
721/721 [==============================] - 0s 86us/step - loss: 89053.5109
Epoch 4/100
721/721 [==============================] - 0s 84us/step - loss: 43304.3827
Epoch 5/100
721/721 [==============================] - 0s 108us/step - loss: 13269.1411
Epoch 6/100
721/721 [==============================] - 0s 88us/step - loss: 7123.6519
Epoch 7/100
721/721 [==============================] - 0s 101us/step - loss: 6360.9282
Epoch 8/100
721/721 [==============================] - 0s 85us/step - loss: 5736.0103
Epoch 9/100
721/721 [==============================] - 0s 86us/step - loss: 5211.1578
Epoch 10/100
721/721 [==============================] - 0s 85us/step - loss: 4774.4524
Epoch 11/100
721/721 [==============================] - 0s 86us/step - loss: 4409.5834
Epoch 12/100
721/721 [==============================] - 0s 109us/step - loss: 4058.6517
Epoch 13/100
721/721 [==============================] - 0s 85us/step - loss: 3765.6249
Epoch 14/100
721/721 [==============================] - 0s 85us/step - loss: 3505.1291
Epoch 15/100
721/721 [==============================] - 0s 103us/step - loss: 3253.2228
Epoch 16/100
721/721 [==============================] - 0s 89us/step - loss: 3041.7889
Epoch 17/100
721/721 [==============================] - 0s 103us/step - loss: 2851.3892
Epoch 18/100
721/721 [==============================] - 0s 89us/step - loss: 2675.5842
Epoch 19/100
721/721 [==============================] - 0s 103us/step - loss: 2520.5401
Epoch 20/100
721/721 [==============================] - 0s 87us/step - loss: 2373.1427
Epoch 21/100
721/721 [==============================] - 0s 85us/step - loss: 2238.8523
Epoch 22/100
721/721 [==============================] - 0s 84us/step - loss: 2122.6657
Epoch 23/100
721/721 [==============================] - 0s 104us/step - loss: 2008.5532
Epoch 24/100
721/721 [==============================] - 0s 86us/step - loss: 1906.6172
Epoch 25/100
721/721 [==============================] - 0s 104us/step - loss: 1813.2995
Epoch 26/100
721/721 [==============================] - 0s 85us/step - loss: 1726.9590
Epoch 27/100
721/721 [==============================] - 0s 87us/step - loss: 1644.5176
Epoch 28/100
721/721 [==============================] - 0s 103us/step - loss: 1570.7690
Epoch 29/100
721/721 [==============================] - 0s 84us/step - loss: 1505.2453
Epoch 30/100
721/721 [==============================] - 0s 86us/step - loss: 1432.6249
Epoch 31/100
721/721 [==============================] - 0s 106us/step - loss: 1370.8381
Epoch 32/100
721/721 [==============================] - 0s 91us/step - loss: 1309.9758
Epoch 33/100
721/721 [==============================] - 0s 87us/step - loss: 1255.4588
Epoch 34/100
721/721 [==============================] - 0s 105us/step - loss: 1203.7187
Epoch 35/100
721/721 [==============================] - 0s 87us/step - loss: 1157.2850
Epoch 36/100
721/721 [==============================] - 0s 83us/step - loss: 1112.0355
Epoch 37/100
721/721 [==============================] - 0s 85us/step - loss: 1071.3100
Epoch 38/100
721/721 [==============================] - 0s 83us/step - loss: 1029.3492
Epoch 39/100
721/721 [==============================] - 0s 105us/step - loss: 992.4233
Epoch 40/100
721/721 [==============================] - 0s 88us/step - loss: 955.5256
Epoch 41/100
721/721 [==============================] - 0s 102us/step - loss: 923.3491
Epoch 42/100
721/721 [==============================] - 0s 83us/step - loss: 893.0722
Epoch 43/100
721/721 [==============================] - 0s 88us/step - loss: 863.0422
Epoch 44/100
721/721 [==============================] - 0s 104us/step - loss: 830.3243
Epoch 45/100
721/721 [==============================] - 0s 85us/step - loss: 804.0752
Epoch 46/100
721/721 [==============================] - 0s 109us/step - loss: 777.3984
Epoch 47/100
721/721 [==============================] - 0s 85us/step - loss: 751.5054
Epoch 48/100
721/721 [==============================] - 0s 109us/step - loss: 727.8574
Epoch 49/100
721/721 [==============================] - 0s 86us/step - loss: 705.6116
Epoch 50/100
721/721 [==============================] - 0s 65us/step - loss: 682.8948
Epoch 51/100
721/721 [==============================] - 0s 90us/step - loss: 662.5667
Epoch 52/100
721/721 [==============================] - 0s 105us/step - loss: 642.3110
Epoch 53/100
721/721 [==============================] - 0s 86us/step - loss: 624.7435
Epoch 54/100
721/721 [==============================] - 0s 105us/step - loss: 604.9265
Epoch 55/100
721/721 [==============================] - 0s 83us/step - loss: 586.8049
Epoch 56/100
721/721 [==============================] - 0s 88us/step - loss: 568.5483
Epoch 57/100
721/721 [==============================] - 0s 104us/step - loss: 552.1200
Epoch 58/100
721/721 [==============================] - 0s 90us/step - loss: 536.4331
Epoch 59/100
721/721 [==============================] - 0s 106us/step - loss: 522.8836
Epoch 60/100
721/721 [==============================] - 0s 85us/step - loss: 504.5867
Epoch 61/100
721/721 [==============================] - 0s 105us/step - loss: 491.7209
Epoch 62/100
721/721 [==============================] - 0s 85us/step - loss: 476.1334
Epoch 63/100
721/721 [==============================] - 0s 106us/step - loss: 462.2382
Epoch 64/100
721/721 [==============================] - 0s 65us/step - loss: 448.8908
Epoch 65/100
721/721 [==============================] - 0s 86us/step - loss: 437.3026
Epoch 66/100
721/721 [==============================] - 0s 87us/step - loss: 424.8350
Epoch 67/100
721/721 [==============================] - 0s 106us/step - loss: 414.0985
Epoch 68/100
721/721 [==============================] - 0s 84us/step - loss: 401.8149
Epoch 69/100
721/721 [==============================] - 0s 104us/step - loss: 391.8546
Epoch 70/100
721/721 [==============================] - 0s 90us/step - loss: 380.7428
Epoch 71/100
721/721 [==============================] - 0s 83us/step - loss: 371.3300
Epoch 72/100
721/721 [==============================] - 0s 83us/step - loss: 361.4768
Epoch 73/100
721/721 [==============================] - 0s 89us/step - loss: 352.3651
Epoch 74/100
721/721 [==============================] - 0s 103us/step - loss: 343.7472
Epoch 75/100
721/721 [==============================] - 0s 88us/step - loss: 336.2727
Epoch 76/100
721/721 [==============================] - 0s 107us/step - loss: 328.5080
Epoch 77/100
721/721 [==============================] - 0s 88us/step - loss: 320.1931
Epoch 78/100
721/721 [==============================] - 0s 105us/step - loss: 312.9309
Epoch 79/100
721/721 [==============================] - 0s 86us/step - loss: 305.2543
Epoch 80/100
721/721 [==============================] - 0s 85us/step - loss: 298.9498
Epoch 81/100
721/721 [==============================] - 0s 87us/step - loss: 291.0152
Epoch 82/100
721/721 [==============================] - 0s 107us/step - loss: 284.4165
Epoch 83/100
721/721 [==============================] - 0s 82us/step - loss: 277.4638
Epoch 84/100
721/721 [==============================] - 0s 87us/step - loss: 269.4086
Epoch 85/100
721/721 [==============================] - 0s 106us/step - loss: 261.4949
Epoch 86/100
721/721 [==============================] - 0s 88us/step - loss: 254.2918
Epoch 87/100
721/721 [==============================] - 0s 104us/step - loss: 248.2203
Epoch 88/100
721/721 [==============================] - 0s 81us/step - loss: 242.4909
Epoch 89/100
721/721 [==============================] - 0s 89us/step - loss: 235.8934
Epoch 90/100
721/721 [==============================] - 0s 103us/step - loss: 230.9894
Epoch 91/100
721/721 [==============================] - 0s 87us/step - loss: 228.2295
Epoch 92/100
721/721 [==============================] - 0s 86us/step - loss: 222.5405
Epoch 93/100
721/721 [==============================] - 0s 105us/step - loss: 216.2022
Epoch 94/100
721/721 [==============================] - 0s 87us/step - loss: 211.7273
Epoch 95/100
721/721 [==============================] - 0s 105us/step - loss: 206.2354
Epoch 96/100
721/721 [==============================] - 0s 85us/step - loss: 202.2370
Epoch 97/100
721/721 [==============================] - 0s 85us/step - loss: 197.2802
Epoch 98/100
721/721 [==============================] - 0s 105us/step - loss: 194.5852
Epoch 99/100
721/721 [==============================] - 0s 94us/step - loss: 188.8356
Epoch 100/100
721/721 [==============================] - 0s 100us/step - loss: 184.2055

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 72us/step

189.95556956664643

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

189.9555753014747 0.0

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 96.11270536651118
MSE 2: 113.42388878979729
MSE 3: 82.8144039907116
MSE 4: 88.720404492227
MSE 5: 83.07277217729192
MSE 6: 68.56148314244538
MSE 7: 64.83723523778824
MSE 8: 59.73474433429804
MSE 9: 52.83157714053651
MSE 10: 60.05391656079338
MSE 11: 48.596688785985066
MSE 12: 49.81431934517178
MSE 13: 66.9314012805235
MSE 14: 53.346529766193875
MSE 15: 49.835344259021355
MSE 16: 43.59304420076142
MSE 17: 47.44933537603582
MSE 18: 47.60243790512332
MSE 19: 44.81594096804128
MSE 20: 46.86009021252876
MSE 21: 43.997318675217116
MSE 22: 51.18966630361613
MSE 23: 44.87246800394892
MSE 24: 45.58426732924378
MSE 25: 48.669424248358965
MSE 26: 45.633664251531215
MSE 27: 49.05022266227451
MSE 28: 45.29348184530017
MSE 29: 55.26087596115557
MSE 30: 45.1370735415363
MSE 31: 47.94431066667378
MSE 32: 44.56464648323923
MSE 33: 44.85881788136504
MSE 34: 46.82027087165314
MSE 35: 48.50389696633546
MSE 36: 53.455925160627146
MSE 37: 49.66881726089033
MSE 38: 51.37003452338061
MSE 39: 44.66140284121615
MSE 40: 41.796351287743036
MSE 41: 52.28110551062525
MSE 42: 46.57855233251084
MSE 43: 44.92033270801927
MSE 44: 56.54433460914587
MSE 45: 58.597567610756094
MSE 46: 54.500772889763795
MSE 47: 51.283685159528915
MSE 48: 51.78958818750474
MSE 49: 50.81808161195428
MSE 50: 50.179108826473694


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 54.696686446915976
Standard Deviation: 14.436319632015897