## Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id='item32'></a>

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

In [16]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the _fit_ method. We will leave out 30% of the data for validation and we will train the model for 50 epochs.

In [17]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 351us/step - loss: 1558.7584
Epoch 2/50
721/721 [==============================] - 0s 136us/step - loss: 645.3968
Epoch 3/50
721/721 [==============================] - 0s 133us/step - loss: 325.6684
Epoch 4/50
721/721 [==============================] - 0s 142us/step - loss: 287.3296
Epoch 5/50
721/721 [==============================] - 0s 136us/step - loss: 265.8588
Epoch 6/50
721/721 [==============================] - 0s 113us/step - loss: 249.7028
Epoch 7/50
721/721 [==============================] - 0s 135us/step - loss: 237.3934
Epoch 8/50
721/721 [==============================] - 0s 135us/step - loss: 228.9034
Epoch 9/50
721/721 [==============================] - 0s 118us/step - loss: 216.6982
Epoch 10/50
721/721 [==============================] - 0s 135us/step - loss: 208.0123
Epoch 11/50
721/721 [==============================] - 0s 133us/step - loss: 200.0580
Epoch 12/50
721/721 [==============================] - 0s 115us/step - loss: 192.2587
Epoch 13/50
721/721 [==============================] - 0s 134us/step - loss: 185.5239
Epoch 14/50
721/721 [==============================] - 0s 135us/step - loss: 181.3339
Epoch 15/50
721/721 [==============================] - 0s 137us/step - loss: 172.5322
Epoch 16/50
721/721 [==============================] - 0s 118us/step - loss: 166.1819
Epoch 17/50
721/721 [==============================] - 0s 135us/step - loss: 161.2491
Epoch 18/50
721/721 [==============================] - 0s 135us/step - loss: 154.9962
Epoch 19/50
721/721 [==============================] - 0s 116us/step - loss: 151.8021
Epoch 20/50
721/721 [==============================] - 0s 139us/step - loss: 144.4678
Epoch 21/50
721/721 [==============================] - 0s 141us/step - loss: 143.3357
Epoch 22/50
721/721 [==============================] - 0s 134us/step - loss: 138.2704
Epoch 23/50
721/721 [==============================] - 0s 114us/step - loss: 136.7365
Epoch 24/50
721/721 [==============================] - 0s 136us/step - loss: 133.2230
Epoch 25/50
721/721 [==============================] - 0s 136us/step - loss: 130.2405
Epoch 26/50
721/721 [==============================] - 0s 117us/step - loss: 129.0036
Epoch 27/50
721/721 [==============================] - 0s 134us/step - loss: 125.5291
Epoch 28/50
721/721 [==============================] - 0s 138us/step - loss: 124.3227
Epoch 29/50
721/721 [==============================] - 0s 115us/step - loss: 123.8645
Epoch 30/50
721/721 [==============================] - 0s 116us/step - loss: 124.1577
Epoch 31/50
721/721 [==============================] - 0s 133us/step - loss: 120.1029
Epoch 32/50
721/721 [==============================] - 0s 114us/step - loss: 119.7482
Epoch 33/50
721/721 [==============================] - 0s 137us/step - loss: 120.7174
Epoch 34/50
721/721 [==============================] - 0s 112us/step - loss: 117.6850
Epoch 35/50
721/721 [==============================] - 0s 139us/step - loss: 115.8033
Epoch 36/50
721/721 [==============================] - 0s 138us/step - loss: 116.0515
Epoch 37/50
721/721 [==============================] - 0s 134us/step - loss: 115.7832
Epoch 38/50
721/721 [==============================] - 0s 138us/step - loss: 113.7254
Epoch 39/50
721/721 [==============================] - 0s 136us/step - loss: 113.0022
Epoch 40/50
721/721 [==============================] - 0s 136us/step - loss: 112.7958
Epoch 41/50
721/721 [==============================] - 0s 118us/step - loss: 112.6301
Epoch 42/50
721/721 [==============================] - 0s 160us/step - loss: 111.4127
Epoch 43/50
721/721 [==============================] - 0s 162us/step - loss: 111.6490
Epoch 44/50
721/721 [==============================] - 0s 114us/step - loss: 110.9864
Epoch 45/50
721/721 [==============================] - 0s 138us/step - loss: 110.5964
Epoch 46/50
721/721 [==============================] - 0s 140us/step - loss: 111.5371
Epoch 47/50
721/721 [==============================] - 0s 136us/step - loss: 111.7340
Epoch 48/50
721/721 [==============================] - 0s 138us/step - loss: 109.7185
Epoch 49/50
721/721 [==============================] - 0s 137us/step - loss: 112.0884
Epoch 50/50
721/721 [==============================] - 0s 136us/step - loss: 111.1213

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 92us/step

106.35359248682904

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

106.35359084201609 0.0

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 82.57737364043696
MSE 2: 54.95403061406898
MSE 3: 40.735731600171924
MSE 4: 45.99167813298
MSE 5: 46.24224430071883
MSE 6: 42.33870229134668
MSE 7: 47.05340894680579
MSE 8: 37.31760896602495
MSE 9: 37.45778218982289
MSE 10: 38.08635222796097
MSE 11: 35.162225852892234
MSE 12: 36.78066969072163
MSE 13: 42.10021139348595
MSE 14: 39.36366748501182
MSE 15: 37.351076712500316
MSE 16: 30.756214475168765
MSE 17: 31.956822886050325
MSE 18: 36.6270835222164
MSE 19: 32.00536656919807
MSE 20: 33.79669073407318
MSE 21: 32.48797282740522
MSE 22: 34.12037308084926
MSE 23: 31.142663714955155
MSE 24: 34.57334617195006
MSE 25: 37.080050224625175
MSE 26: 37.882028820445235
MSE 27: 29.216001516792765
MSE 28: 29.229065509289985
MSE 29: 37.26022679597429
MSE 30: 31.363036183477604
MSE 31: 32.21263008364582
MSE 32: 31.562647699152382
MSE 33: 29.404134361489305
MSE 34: 33.41632050449408
MSE 35: 34.74772673671686
MSE 36: 35.50736391505763
MSE 37: 30.91416293826304
MSE 38: 32.33661449148431
MSE 39: 31.804041705085236
MSE 40: 27.12516397025593
MSE 41: 34.1812256563057
MSE 42: 33.695575806701065
MSE 43: 33.41165407421519
MSE 44: 37.06592930173411
MSE 45: 34.310216551845514
MSE 46: 34.205937407163354
MSE 47: 33.442538017593925
MSE 48: 34.3399895356311
MSE 49: 30.947666816341066
MSE 50: 33.11722674570423


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 36.415168857218525
Standard Deviation: 8.34630672090625